<body>
  <h1>All Customers With A Missing Email</h1>
  <ul class = "navigation">
    <li><%=link_to 'index', index_path%></li>
    <li><%=link_to 'alphabetized', alphabetized_path%></li>
  </ul>
  <%= render 'common/customer', :customers => @customers %>
</body>
